<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlisle.magnet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.carlisle.magnet.module.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MagnetAppTheme">

        <activity
            android:name="com.carlisle.magnet.module.search.SearchActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.carlisle.magnet.module.manager.SourceManagerActivity" />
        <activity android:name="com.carlisle.magnet.module.about.AboutActivity" />

    </application>

</manifest>
